<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

	<!-- LOGO -->
	<%= link_to root_path, class: "logo text-center logo-light" do %>
		<span class="logo-lg">
			<img src="<%= image_url('exportator-logo.png') %>" alt="" height="50">
		</span>
		<span class="logo-sm">
			<img src="<%= image_url('earth-3.svg') %>" alt="" height="50">
		</span>
	<% end %>

	<!-- LOGO -->
	<%= link_to root_path, class: "logo text-center logo-dark" do %>
		<span class="logo-lg">
			<img src="<%= image_url('exportator-logo.png') %>" alt="" height="50">
		</span>
		<span class="logo-sm">
			<img src="<%= image_url('earth-3.svg') %>" alt="" height="50">
		</span>
	<% end %>
	
	<div class="h-100" id="left-side-menu-container" data-simplebar>

		<!--- Sidemenu -->
		<ul class="metismenu side-nav">

			<li class="side-nav-title side-nav-item">Navigation</li>

			<li class="side-nav-item">
				<%= link_to dashboard_path, class: "side-nav-link" do %>
					<i class="uil-home-alt"></i>
					<span> Dashboard </span>
				<% end %>
			</li>

			<li class="side-nav-title side-nav-item">Export</li>

			<li class="side-nav-item">
				<%= link_to user_custom_prices_path(current_user), class: "side-nav-link" do %>
					<i class="uil-ticket"></i>
					<span> Coupons </span>
				<% end %>
			</li>

			<li class="side-nav-item">
				<%= link_to quotes_path, class: "side-nav-link" do %>
					<i class="uil-cog"></i>
					<span> Logs </span>
				<% end %>
			</li>

			<li class="side-nav-title side-nav-item">Public</li>

			<li class="side-nav-item">
				<%= link_to user_path(current_user), class: "side-nav-link" do %>
					<i class="uil-shop"></i>
					<span> Your page </span>
				<% end %>
			</li>

			<li class="side-nav-title side-nav-item mt-1">Settings</li>

			<li class="side-nav-item">
				<%= link_to edit_user_path(current_user), class: "side-nav-link" do %>
					<i class="uil-user"></i>
					<span> User </span>
				<% end %>
			</li>

			<li class="side-nav-item">
				<%= link_to user_path(current_user), class: "side-nav-link" do %>
					<i class="uil-dollar-alt"></i>
					<span> Stripe </span>
				<% end %>
			</li>
			
		</ul>

		<%= render "shared/help_box", 	image_path: "earth-2.svg",
										title: "Find new customers!",
										subtitle: "Make your company page public and get in the newsletter!",
										cta: "Create",
										cta_url: dashboard_path %>
		<!-- End Sidebar -->

		<div class="clearfix"></div>

	</div>
	<!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->