<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    
		<!-- LOGO -->
		<a href="index.html" class="logo text-center logo-light">
			<span class="logo-lg">
				<img src="<%= image_url('logo.png') %>" alt="" height="16">
			</span>
			<span class="logo-sm">
				<img src="<%= image_url('logo_sm.png') %>" alt="" height="16">
			</span>
		</a>
	
		<!-- LOGO -->
		<a href="index.html" class="logo text-center logo-dark">
			<span class="logo-lg">
				<img src="<%= image_url('logo-dark.png') %>" alt="" height="16">
			</span>
			<span class="logo-sm">
				<img src="<%= image_url('logo_sm_dark.png') %>" alt="" height="16">
			</span>
		</a>
		
		<div class="h-100" id="left-side-menu-container" data-simplebar>
	
			<!--- Sidemenu -->
			<ul class="metismenu side-nav">
	
				<li class="side-nav-title side-nav-item">Navigation</li>
	
				<li class="side-nav-item">
					<a href="javascript: void(0);" class="side-nav-link">
						<i class="uil-home-alt"></i>
						<span class="badge badge-success float-right">4</span>
						<span> Dashboards </span>
					</a>
					<ul class="side-nav-second-level" aria-expanded="false">
						<li>
							<a href="dashboard-analytics.html">Analytics</a>
						</li>
						<li>
							<a href="dashboard-crm.html">CRM</a>
						</li>
						<li>
							<a href="/">Ecommerce</a>
						</li>
						<li>
							<a href="dashboard-projects.html">Projects</a>
						</li>
					</ul>
				</li>
	
				<li class="side-nav-title side-nav-item">Menu</li>
	
				<li class="side-nav-item">
					<a href="javascript: void(0);" class="side-nav-link">
						<i class="uil-folder-plus"></i>
						<span> Multi Level </span>
						<span class="menu-arrow"></span>
					</a>
					<ul class="side-nav-second-level" aria-expanded="false">
						<li class="side-nav-item">
							<a href="javascript: void(0);" aria-expanded="false">Second Level
								<span class="menu-arrow"></span>
							</a>
							<ul class="side-nav-third-level" aria-expanded="false">
								<li>
									<a href="javascript: void(0);">Item 1</a>
								</li>
								<li>
									<a href="javascript: void(0);">Item 2</a>
								</li>
							</ul>
						</li>
						<li class="side-nav-item">
							<a href="javascript: void(0);" aria-expanded="false">Third Level
								<span class="menu-arrow"></span>
							</a>
							<ul class="side-nav-third-level" aria-expanded="false">
								<li>
									<a href="javascript: void(0);">Item 1</a>
								</li>
								<li class="side-nav-item">
									<a href="javascript: void(0);" aria-expanded="false">Item 2
										<span class="menu-arrow"></span>
									</a>
									<ul class="side-nav-forth-level" aria-expanded="false">
										<li>
											<a href="javascript: void(0);">Item 2.1</a>
										</li>
										<li>
											<a href="javascript: void(0);">Item 2.2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				
			</ul>
	
			<!-- Help Box -->
			<div class="help-box text-white text-center">
				<a href="javascript: void(0);" class="float-right close-btn text-white">
					<i class="mdi mdi-close"></i>
				</a>
				<img src="<%= image_url('help-icon.svg') %>" height="90" alt="Helper Icon Image" />
				<h5 class="mt-3">Unlimited Access</h5>
				<p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
				<a href="javascript: void(0);" class="btn btn-outline-light btn-sm">Upgrade</a>
			</div>
			<!-- end Help Box -->
			<!-- End Sidebar -->
	
			<div class="clearfix"></div>
	
		</div>
		<!-- Sidebar -left -->
	
	</div>
	<!-- Left Sidebar End -->