<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<div class="wrapper">
		<%= render 'layouts/partials/left-sidebar'%>
		<div class="content-page">
		<div class="content">
			<%#= render 'layouts/partials/topbar'%>
			<%= yield %>
		</div>
		<%#= render 'layouts/partials/footer'%>
		</div>
	</div>

	<%= javascript_include_tag 'vendor', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= yield :extra_script %>
</html>
